<!--Saved Articles Page-->

<div class="container">

    <div class="col-md-12 jumbotron text-center background-image">
        <div class="text-center">
            <h1> Saved Articles</h1>
        </div>
    </div>
    <div class="col-md-12">
        {{#if article}}
            {{#each article}}
                <div class="panel panel-default card-panel">
                    <div class="panel-heading z-depth-4">
                        <h5>{{this.title}}</h5>
                    </div>
                    <div class="panel-body">
                        <p> {{this.summary}}</p>
                        <a href={{this.link}} target="_blank">{{this.link}}</a>
                        <br><br>
                        <button type="button" class="btn waves-effect light-blue darken-1 pulse btn addNote" data-toggle="modal" data-target="#noteModal{{this._id}}" data-id={{this._id}}>Add a Note</button>
                        <button type="button" class="btn red lighten-3 delete" data-id={{this._id}}>Delete Article</button>
                    </div>
                </div>
            {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><Noscript></Noscript> No saved articles.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>

<!--Clicked Notes Modal-->
{{#each article}}
    {{> notes-modal }}
{{/each}}